* {
    margin: 0;
    padding: 0;
}
.head {
    display: flex;
}
.head .li {
    display: inline-block;
    margin: 0 5px;
    white-space: nowrap;
}
.link {
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}