* {
    margin: 0;
    padding: 0;
}
.head {
    display: flex;
}
.head .li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    white-space: nowrap;
}
.link {
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
.active {
    color: #f00;
}
.first {
    color: #00f;
}
.last {
    color: #0f0;
}
.even {
    font-weight: 900;
}
.odd {
    font-weight: 100;
}
.indicator {
    /* background-color: brown; */
    height: 2px;
    width: 2rem;
    margin-top: 2px;
}